.gallery-item-inner {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  text-align: center;
  overflow: hidden;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #000000;
  }
}

.gallery-description {
  padding-top: 16px;
  font-family: CentraNo2, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 1.25em;
  box-sizing: content-box;
  overflow: hidden;
  margin-bottom: 1em;
}
