html,
body {
  height: 100%;
}

div {
  box-sizing: border-box;
}


.container {
  height: 100%;
}

.nav-sidebar {
  height: 100%;
  background: #2A3F54;
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-content {
  height: 100%;
  background: #eeeeee;
}
